@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  background:#eee;
}

.size span {
  font-size: 11px;
}

.color span {
  font-size: 11px;
}

.product-deta {
  margin-right: 70px;
}

.gift-card:focus {
  box-shadow: none;
}

.pay-button {
   background-color: #34688E;
  color: #fff;
  text-decoration: none;
}

.pay-button:hover {
  background-color: #34688E; /* Mantiene il colore rosa al passaggio del mouse */
  color: #fff;
  text-decoration: none;
}

.pay-button:focus {
  background-color: #34688E; /* Mantiene il colore rosa al clic */
  color: #fff;
  box-shadow: none;
  text-decoration: none;
}

.pay-button:active{
	color:#fff;
  background-color: #34688E;
}

.text-grey {
  color: #a39f9f;
}

.qty i {
  font-size: 11px;
}

.settings{
	display: flex; /* Abilita il layout flessibile */
    justify-content: space-between; /* Distribuisce uniformemente gli elementi lungo la riga */
    align-items: center; /* Allinea verticalmente gli elementi al centro */
    padding: 20px; /* Spaziatura interna */
    background-color: #f0f0f0; /* Colore di sfondo */
    z-index: 10; /* Assicurati che il div .filters sia sopra gli altri elementi */  
}